@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 242, 248, 249;
  --background-end-rgb: 82, 197, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 82, 197, 220;
    /* --background-end-rgb: 82, 197, 220; */
    --background: white;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background));
  /* ( */
  /* to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
